/*null--------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}



.particles-canvas  {
  position: relative;
  width: 100%;
  height: 100vh;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: Inter, sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  max-width: 884px;
  margin: 0px auto;
}

._line {
  text-decoration: underline;
}

/*header----------------------------------------*/
.header {
  background: #1D1D1D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: -1px;
}

.header__container {
  min-height: 90px;
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0 0 0 70px;
}

.menu__items {
  display: flex;
  gap: 46px;
}

.menu__item {
  font-weight: 400;
  font-size: 15px;
}

.menu__link {
  color: inherit;
}

.header__button {
  margin-left: auto;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.button__text {
  font-weight: 400;
  font-size: 15px;
  padding: 5px 25px 5px 25px;
  line-height: 18px;
}

/*objects--------------------------------*/
.header-text {
  font-weight: 700;
  font-size: 64px;
}

/*main-----------------------------------*/
.__main {
  position: relative;
  background-color: #1D1D1D;
  z-index: 1;
  border-bottom: 3px solid #575757;
  flex: 1;
}

/*home-page------------------------------*/
.home-page {
  position: relative;
  padding-bottom: 28px;
  height: 90vh;
}

.home-page::before {
  content: '';
  background-image: url(../images/home/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(0px) brightness(50%) contrast(150%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) saturate(2);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: fade-in 1s ease-out forwards;
}

.home-page__descriptions {
  padding-top: 170px;
}

.home-page__header {
  color: #FFFF36;
}

.home-page__description {
  font-weight: 500;
  font-size: 20px;
  padding-top: 17px;
  width: 60%;
  min-height: 144px;
  line-height: 30px;
}

.home-page__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding-top: 18px;
}

.home-page__soc-medias {
  padding-top: 20px;
}

.home-page .soc-medias__links {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

/*about-page-------------------------*/
.about-page {
  margin-bottom: -1px;
}

.about-page__container {
  padding-top: 150px;
}

.about-page__row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-page__header {
  color: #9D8980;
}

.about-page__description {
  padding-top: 33px;
}

.about-page__description .description_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding-bottom: 20px;
}

/*buy-page---------------------------------*/
.buy-page {
  margin-bottom: -1px;
}

.buy-page__container {
  padding-top: 150px;
}

.buy-page__header {
  text-align: center;
  color: #FCBB41;
}

.buy-page__cards {
  padding-top: 47px;
}

.buy-page__card {
  padding-bottom: 80px;
}

.buy-page__card .card__row {
  display: flex;
  align-items: center;
  gap: 53px;
}

.buy-page__card .row__img img {
  width: 149px;
}

.buy-page__card .row__description_header {
  font-weight: 800;
  font-size: 15px;
  line-height: 160%;
  color: #FCBB41;
}

.buy-page__card .card__row .row__description {
  width: 80%;
}

.buy-page__card .row__description_desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.buy-page__screen {
  text-align: center;
}

.buy-page__screen iframe {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

/*tokenomics------------------------------*/
.tokenomic-page {
  margin-bottom: -1px;
  padding-top: 160px;
}

.tokenomic-page__line {
  border-top: 1px solid #575757;
}

.tokenomic-page__header {
  position: absolute;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #208CCB;
  top: 4rem;
}

.tokenomic-page__row {
  position: relative;
  display: flex;
  align-items: end;
  gap: 38px;
}

.tokenomic-page__row .row__description {
  max-width: 50%;
  margin-bottom: 20px;
}

.tokenomic-page__row .row__description_head {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  top: 0px;
}

.tokenomic-page__row .row__descriptions {
  padding-top: 25px;
}

.tokenomic-page__row .row__descriptions_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 131.52%;
  padding-top: 15px;
}


/*faq-page--------------------------------*/
.faq-page {
  margin-bottom: -1px;
}

.faq-page__container {
  padding-top: 230px;
}

.faq-page__header {
  color: #B0936C;
}

.faq-page__descriptions {
  padding-top: 24px;
}

.faq-page__description {
  padding-bottom: 25px;
}

.faq-page__description_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.faq-page__description_text1 {
  font-weight: 800;
  color: #B0936C;
}

.faq-page__description_text2 {
  font-weight: 500;

}

/*contact-page--------------------------------*/
.contact-page {
  margin-bottom: -1px;
  padding-bottom: 80px;
}

.contact-page__container {
  padding-top: 60px;
}

.contact-page__row {
  display: flex;
  align-items: center;
}

.contact-page__row .row__contents {
  display: flex;
  margin-left: auto;
  gap: 47px;
  align-items: center;
}

.contact-page__socials {
  display: flex;
  gap: 25px;
  align-items: center;
}

.contact-page__border {
  border-top: 1px solid #575757;
  padding-bottom: 70px;
  margin-top: 80px;
}

.contact-page__descriptions {
  text-align: center;
}

.contact-page__descriptions_text0 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.contact-page__descriptions_text {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding-top: 13px;
}

.contact-page__descriptions .position {
  width: 95%;
}

/*footer--------------------------------*/
.footer {
  background-color: #1d1d1d;
  margin-top: auto;
}

.footer__header {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 29px 0px 29px 0px;
}

/*error-page--------------------------------------*/
.error-page__container {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.error-page__description .header {
  font-size: 2rem;
}
.error-page__description .desc {
  font-size: 25px; 
  font-size: 1rem;
  padding-top: 15px;
}
.error-page__smiley .text {
  font-size: 65px;
  font-weight: 600;
}

/*media-screen*/
@media only screen and (min-width: 1250px) {
  ._container {
    max-width: 1200px;
  }
}

/*@media only screen and (max-width: 1100px) {
  .tokenomic-page__container::before {
    left: 0px;
  }
}*/

@media only screen and (max-width: 900px) {
  ._container {
    max-width: 835px;
  }
}

/* @media only screen and (max-width: 800px) {
    ._container {max-width: 700px;}
  }
  @media only screen and (max-width: 700px) {
    ._container {max-width: 600px;}
  }*/
@media only screen and (max-width: 820px) {
  ._container {
    max-width: 500px;
  }
  #off .react-reveal {
    animation-name: unset !important;
  }

  .header-text {
    font-size: 40px;
  }

  /*header-----------------------------------*/
  .header__container {
    min-height: 70px;
  }

  .header__menu {
    display: none;
  }

  .menu__item,
  .button__text {
    font-size: 12px;
  }

  .menu__items {
    gap: 20px;
  }

  /*home-page----------------------------------*/
  .home-page {
    padding-bottom: 10px;
    height: auto;
  }

  .home-page__descriptions {
    padding-top: 95px;
  }

  .home-page__description {
    font-size: 15px;
    min-height: 95px;
    width: 70%;
    line-height: 25px;
  }

  .home-page__soc-medias {
    padding-top: 30px;
  }

  /*about-page--------------*/
  .about-page__container {
    padding-top: 80px;
  }

  .about-page__row {
    flex-direction: column;
    gap: 10px;
  }

  .about-page__row .row__image {
    order: 1;
  }

  .about-page__row .row__image .row__image_img {
    width: 233px !important;
    height: 300px !important;
  }

  .about-page__description {
    padding-top: 23px;
  }

  .about-page__description .description_text {
    font-size: 15px;
  }

  /*buy-page--------------*/
  .buy-page__container {
    padding-top: 80px;
  }

  .buy-page__cards {
    padding-top: 40px;
  }

  .buy-page__card {
    padding-bottom: 40px;
  }

  .buy-page__screen_img {
    height: 100%;
    width: 100%;
  }

  .buy-page__card .card__row {
    gap: 30px;
  }

  .buy-page__card .card__row .row__description {
    width: 65%;
  }

  .buy-page__card .row__description_desc {
    font-size: 13px;
  }

  .buy-page__screen {
    padding-top: 40px;
  }

  /*tokenomic-page--------------*/

  .tokenomic-page {
    padding-top: 80px;
  }

  .tokenomic-page__row {
    flex-direction: column;
  }

  .tokenomic-page__header {
    right: 1px;
  }

  .tokenomic-page__row .row__description {
    max-width: 100%;
  }

  .tokenomic-page__row .row__description_head {
    position: unset;
  }

  .tokenomic-page__row .row__descriptions {
    padding-top: 10px;
  }

  .tokenomic-page__row .row__descriptions_text {
    font-size: 14px;
  }

  .tokenomic-page__row .row__image {
    margin: auto;
  }

  .tokenomic-page__row .row__image img {
    height: 100%;
    width: 100%;
  }

  /*faq-page*/
  .faq-page__container {
    padding-top: 80px;
  }

  .faq-page__description_text2 {
    font-size: 14px;
  }

  /*contact-page*/
  .contact-page {
    padding-bottom: 50px;
  }

  .contact-page__container {
    padding-top: 0px;
  }

  .contact-page__row .row__contents {
    margin: auto;
  }

  .contact-page__row {
    flex-direction: column;
  }

  .contact-page__border {
    padding-bottom: 50px;
    margin-top: 60px;
  }

  .contact-page__descriptions_text {
    font-size: 14px;
    margin: 0px auto;
  }

  /*footer------*/
  .footer__header {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  ._container {
    max-width: 400px;
  }

  /*header-----------------------------------*/
  .button__text {
    font-size: 15px;
  }

  /*home-------------------------------------*/
  .home-page__description {
    width: 80%;
  }

  /*buy-page---------------------------------*/
  .buy-page__card .card__row {
    flex-direction: column;
    gap: 10px;
  }

  .buy-page__card .card__row .row__description {
    width: 100%;
  }

  /*tokenomic-page--------------------------*/
  .tokenomic-page__header {
    left: 1rem;
    top: 2rem;
  }

  .tokenomic-page__row {
    padding-top: 6rem;
  }

  /*contact-page-----------------------------*/
  .contact-page__row .row__contents {
    flex-direction: column;
    gap: 20px;
  }

  /*error-page-------------------------------*/
  .error-page__smiley {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  ._container {
    max-width: 300px;
  }

  .header-text {
    font-size: 38px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .about-page__description {
    padding-top: 15px;
  }

  .buy-page__cards {
    padding-top: 30px;
  }

  /*home-------------------------------------*/
  .home-page__description {
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

  .home-page__info {
    display: none;
  }
}